`<%-layout("/layouts/boilerplate") -%>
<body>
  <h1>Edit Your Listing</h1>
  <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
  <input name="listing[title]"  value="<%= listing.title %>" type="text">
  <br>
  <br>
  <textarea name="listing[description]" type="text"> <%= listing.description %></textarea>
  <br>
  <br>
   <input
  name="listing[image][url]"
  value="<%= listing.image.url %>"
  type="text"
/>
  <br>
  <br>
  <input name="listing[price]" value="<%= listing.price %>"  type="number">
  <br>
  <br>
  <input name="listing[location]" value="<%= listing.location %>"  type="text">
  <br>
  <br>
  <input name="listing[country]" value="<%= listing.country %>"  type="text">
  <br>
  <br>
  <button>Edit Listing</button>
  </form>
</body>