<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Listing Details</h1>
  <h1><%= listing.title %></h1>
  <p><%= listing.description %></p>
  <p>Price: $<%= listing.price %></p>
  <p>Location: <%= listing.location %></p>
  <p>Country: <%= listing.country %></p>
</body>
</html>